section{
    padding-top: 50px;
}
.img-circle {
    width: 180px;
    height: 180px;
    border: 2px solid violet;
    border-radius: 50%;
    background-color: rgb(179, 123, 179);
    margin-top: 10px;
}
.img-3{
    width: 500px;
    height: 500px;
}
.pad-video{
    padding-top: 50px;
}
footer{
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: 2px solid grey;
}
.navbar-nav-footer{
    display: flex;
    padding-left: 10px;
    margin-bottom: 0;
}
.text-footer{
    padding-top: 5px;   
}
.marg{
    margin-left: 20px;
}